.card {
    background-color: rgba(255,255,255,0.85);
    border: 1px solid #333;
    border-radius: 10px;
    margin: 0 0 10px 0;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    transition: 0.1s background-color ease-in-out;
  }
  
  .card:hover {
    background-color: rgba(255,255,255, 1);
  }
  
  .card a {
    text-decoration: none;
    color: inherit;
  }
  
  .gu-unselectable .card {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  
  .card__title {
    margin: 0;
  }
  
  .card__full {
    height: 66%;
    width: 66%;
    background-color: rgba(255,255,255,0.98);
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
  }