.carrot-bag {
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    flex-direction: column;
    height: 100%;
  }

.column-container::-webkit-scrollbar {
  height: 1.2rem;
}

.column-container::-webkit-scrollbar-thumb {
  background-color: #066133;
  border: 0.1rem solid #369666;
  border-top-width: 0;
}

.column-container {
  display: flex;
  align-items: start;
  /* padding: 0 0.8rem 0.8rem; */
  overflow-x: auto;
  height: calc(98vh - 1rem);
}

.column {
  flex: 0 0 22rem;
  display: flex;
  flex-direction: column;
  background-color: #0b4226;
  margin-right: 20px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-height: calc(100vh - 4rem);
}

.column__inner {
  flex: 1;
  overflow-y: auto;
  padding: 0 0.2rem 0.2rem;
  flex-direction: column;
  max-height: inherit;
}

.column__inner::-webkit-scrollbar {
  width: 1rem;
}

.column__inner::-webkit-scrollbar-thumb {
  background-color: #0b4226;
  border-right: 0.6rem solid #002c15
}

.column__header {
  flex: 1 0 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 166, 77);
  padding: 10px;
  margin: -10px -10px 10px -10px;
  border-radius: 15px 15px 0px 0px;
}

.column__header__title {
  padding: 5px 0 0 5px;
}

.column__remove {
  background-color: transparent;
  border: 0;
  border-radius: 25%;
  color: rgb(0, 0, 0);
}

.column__form {
  display: block;
  padding: 10px 10px 0 10px;
  border-top: 1px solid rgb(255, 166, 77);
}